video {
  width: 50%;
  height: 100%;
  border : none;
  margin: auto;
  }
  
body {
	background-color : #f0f2f4 !important; 
	
}

#video-container {
  text-align: center;
  background-color: #e2e6e9;
  margin-bottom:1%;
}

#presentation, #transcription, #projet, #bibliographie {
  text-align: left;
  background-color : white;
}

.tab-pane {
	padding : 25px;
	border-top-right-radius : 10px;
}

.title {
  text-decoration: underline;
}

